# --------------------
# OSX Files
# --------------------
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# --------------------
# Sublime Text Files
# --------------------
*.sublime-project
*.sublime-workspace

# --------------------
# App Files
# --------------------
node_modules
